@model MvcKrisha.Models.LoginUser

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal " style="background-image: url('../../Images/shutterstock_158355224.jpg');margin-left: -180px; margin-right: -180px;padding-left: 0px; padding-right: 0px; height: 650px; padding-top: 0px; margin-top: -10px; position: relative; padding-bottom: 0px; margin-bottom: 0px; ">
        <div class="">
            <div style="width: 400px;height:650px;margin:auto;background: #fff;">
                <h4 style="text-align:center;height:100px;padding-top:30px; padding-bottom:0px;margin-bottom:0px;background-color:#b881fc;font-family:Arial, Helvetica, sans-serif;font-size:25px;color:white" ;>Start Listing Properties</h4>
                <div style=" text-align:center;margin-left:30px;margin-top:60px">
                    <div class="form-group">
                        <div class="col-md-10" style="padding-left:45px;">
                           @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control111" } })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10" style="padding-left:45px;">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control111" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            
                            <div class="text-danger"> @ViewBag.ErrorMessage </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" style="margin-bottom: 20px; width: 100%; color: #fff; font-size: 18px; line-height: 18px; font-weight: 600; background-color: #b881fc;margin-left:-12px;" />
                    </div>
                </div>
                <div style="text-align:center; font-family: 'Raleway', sans-serif;font-size:18px;">
                    @Html.ActionLink("Don't have an account?", "Register")
                </div>

            </div>
        </div>
    </div>
}